body {
    font-family: 'Noto Serif', serif;
}

h1, h2, h3, nav {
    font-family: 'Roboto Condensed', sans-serif;
}

nav h2{
    font-size: 1.4em;
}

#message-board-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

#message-board-container p {
    font-family: 'Noto Serif', serif;
    font-size: 0.9em;
}

#message-board-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

#message-board-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

#add-message-container {
    padding-top: 100px;
    width: 500px;
    margin: 0 auto;
}

#message-card-author {
    font-weight: strong;
}